name: Build APK & iOS

on:
  push:
  # workflow_run:
  #   workflows: ["Flutter Lint & Tests"]
  #   branches: [develop, main]
  #   types: [completed]
  workflow_dispatch:

jobs:
  build_android:
    # if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.workflow_run.head_sha }}

      - uses: subosito/flutter-action@v2
        with:
          flutter-version-file: .fvm/fvm_config.json
          cache: true

      - run: flutter --version
      - run: dart --version

      - run: flutter pub get

      - run: flutter build apk --debug
      - run: flutter build apk --release

      - uses: actions/upload-artifact@v4
        with:
          name: apk-builds
          path: build/app/outputs/flutter-apk/*.apk

  build_ios:
    # if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.workflow_run.head_sha }}

      - uses: subosito/flutter-action@v2
        with:
          flutter-version-file: .fvm/fvm_config.json
          cache: true

      - run: flutter --version
      - run: dart --version

      - run: flutter pub get

      - run: flutter build ios --debug --no-codesign
      - run: flutter build ios --release --no-codesign

      - run: |
          cd build/ios/iphoneos
          tar -czf Runner.app.tar.gz Runner.app

      - uses: actions/upload-artifact@v4
        with:
          name: ios-builds
          path: build/ios/iphoneos/Runner.app.tar.gz
