name: Flutter Lint & Tests
on:
  push:
    branches:
      - "feature/**"
      - develop
#    paths:
#      - "lib/**"
#      - "pubspec.yaml"
#      - "pubspec.lock"
#
  pull_request:
    branches:
      - develop

jobs:
  flutter_ci:
    runs-on: ubuntu-latest

    steps:
      # Checkout code
      - uses: actions/checkout@v3
      
# Remove old Flutter cached installations
      - name: Remove old Flutter cache
        run: rm -rf $HOME/.flutter

      # Setup Flutter
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.38.4'
          
      - name: Check Flutter Version
        run: flutter --version

      # Cache Flutter packages
      - name: Cache Pub Packages
        uses: actions/cache@v3
        with:
          path: ~/.pub-cache
          key: ${{ runner.os }}-pub-${{ hashFiles('**/pubspec.lock') }}
          restore-keys: |
            ${{ runner.os }}-pub-

      # Install dependencies
      - name: Get Dependencies
        run: flutter pub get

      # Run lint
      - name: Lint
        run: flutter analyze

      # Check format (warning only)
      - name: Format Check
        run: dart format --set-exit-if-changed .
        continue-on-error: true

      # Determine if tests should run (only if lib/ or pubspec changed)
      - name: Should run tests?
        id: test_check
        run: |
          FILES=$(git ls-files '*.dart' 'pubspec.yaml' 'pubspec.lock')
          if echo "$FILES" | grep -E "lib/|pubspec.yaml|pubspec.lock"; then
            echo "run_tests=true" >> $GITHUB_OUTPUT
          else
            echo "run_tests=false" >> $GITHUB_OUTPUT
          fi
      # Run Tests if needed
      - name: Run Tests
        if: steps.test_check.outputs.run_tests == 'true'
        run: flutter test --coverage

